@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-header: "Cinzel", serif;
  --font-mystic: "Cormorant Garamond", serif;
  --color-gold: #D4AF37;
  --color-void: #050508;
}

@layer base {
  body {
    @apply bg-void text-white/90 overflow-hidden;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(212, 175, 55, 0.2);
    border-radius: 10px;
  }
}
